
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --navy : #243763;
    --orange: #FF6E31;
    --cream: #FFEBB7;
    --brown: #AD8E70;

}

body {
    text-align: center;
    font-size: 18px;
}

h1, 
h2{
    letter-spacing: 2px;
}

h3,
h4,
h5, 
h6 {
    letter-spacing: 5px;
}

.navbar-logo a{
    letter-spacing: -3px;
}

.navbar-logo {
    font-family: 'Pacifico', cursive;

}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--navy);
}

.navbar-logo a, .navbar-nav-items a{
    text-decoration: none;
    color: var(--cream);
}

.navbar-nav-items {
    display: none;
    position: absolute;
    top: 6rem;
    left: 2rem;
    right: 2rem;
    background-color: var(--cream);
    padding: 2rem 0;
    z-index: 1;
}

.navbar-nav-items .nav-item {
    list-style: none;
    padding: 1rem;
}
.navbar-nav-items .nav-item a{
    color: var(--navy);
    padding: 1rem;
}

.navbar-nav-items .nav-item a:hover,  .navbar-nav-items .nav-item a.active{
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--navy);
    color: var(--cream);
    padding: .5rem;
}

/* HERO */
.hero {
    background-color: var(--navy);
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.hero-text-heading-1 {
    color: var(--cream);
    /* 2em 5vw 3em*/
    font-size: clamp(2em, 5vw, 3.5em);
}


.hero-text-heading-1-background {
    color: var(--orange);
}

.hero-text-paragraph {
    width: 300px;
    margin: 0 auto;
    color: var(--orange);
    font-weight: bold;
    opacity: .9;
    padding-top: 1rem;
}

.hero-illustration-computer {
    display: block;
    height: 250px;
    margin: 0 auto;
}

/* MY-SKILLS */
 .my-skills {
    padding: 4rem 2rem;
    background: var(--cream);   
 }
 .my-skills-heading-2 {
    color: var(--orange);
    opacity: .8;
    padding-bottom: 2rem;
 }

 .my-skills-list {
    color: var(--navy);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap:2rem;
 }
.my-skills-list-heading-3 {
    padding-bottom: 1rem;
}
.my-skills-list-icon {
    opacity: .9;
 }
.icon-js {
    background: #323330;
}
 .my-skills-list-paragraph{
    
    opacity: .8;
 }

 /* MY-PROJECTS */
.projects {
    padding: 4rem 0;
}

.projects-heading-3 {
    color: var(--navy);
    opacity: .75;  
}
.projects-heading-4 {
    color: var(--navy); 
    padding: 2rem 0 1rem 0;   
} 

.project-screenshot-img {
    width: 100%;
    display: block;
}
 /* CONTACT DETAILS*/
.contact {
    padding: 4rem;
    background: var(--navy);
}
.contact-heading-2 {
    color: var(--cream);
}
.contact-paragraph {
    padding: 0 0 2rem 0;
    color: var(--orange);
    font-weight: bold;
}

textarea {
    border: 5px solid var(--orange);
    border-radius: 10px;
    padding: .5rem;
    margin: 2rem;
    color: var(--navy);
}

.submit {
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: var(--orange);
    color: var(--cream);
    border: none;
    font-weight: 700;
    text-decoration: none;
 }

 .submit:hover {
    background: var(--cream);
    color: var(--orange);
 }

@media (min-width: 499px) {
    /* MY-SKILLS */
    .my-skills-list {
        padding: 0 4rem;
    }
    /* PROECTS */
    .project-screenshots {
        padding: 0 4rem;
    }
 }
@media (min-width: 768px) {
    /* NAVBAR */
    .navbar {
        padding: 1rem 2rem 0 2rem;
    }
    .navbar-menu-toggle {
        display: none;
    }
    .navbar-logo{
        padding: 1rem 0;
    }
    .navbar-logo a{
        font-size: 1.3em;
    }
    .navbar-nav-items {
        display: flex;
        position: relative;
        top: 0;
        background: none;
        color: var;
        padding: 0;
    }

    .navbar-nav-items .nav-item a{
        color: var(--cream);
    }
    
    .navbar-nav-items .nav-item a:hover,  .navbar-nav-items .nav-item a.active{
        background-color: var(--cream);
        color: var(--navy);
    }

    /* HERO */
    .hero {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
    .hero-illustration-computer{
        height: 300px;
    }
    /* SKILLS */
    .my-skills {
        padding: 8rem 0;
        background: var(--cream);
        
     }
     .my-skills-heading-2 {
        padding-bottom: 4rem;
     }
    .my-skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2;
        padding: 0 2rem;
    }
    .my-skills-list-icon {
        height: 25px;
    }
    /* PROJECTS*/
    .projects {
        padding: 8rem 6rem;
    }
    .projects-heading-3 {
        padding-bottom: 2rem;
    }
    .project-screenshot {
        padding: 1rem 0;
    }
    /* CONTACT DETAILS*/
    .contact {
        padding: 8rem;
        background: var(--navy);
     }
    
}

@media (min-width: 1004px) {
    /* NAVBAR */
    .navbar {
        padding: 2rem 3rem 1rem 3rem;
    }

    /* HERO */
     .hero { 
        gap: 4rem;
    }
    .hero-illustration-computer{
        height: 350px;
    }
    
    /* MY-SKILLS */
    .my-skills-list {
        gap: 3;
        padding: 0 4rem;
    }

    /* PROJECTS*/
    .projects {
        padding: 8rem 2rem;
    }
    .project-screenshots {
        padding: 0;
        display: flex;
        gap: 2rem;
    }
}

@media (min-width: 1200px) {

     /* HERO */
     .hero { 
        gap: 6rem;
    }
    .hero-illustration-computer{
        height: 400px;
    }
    

    /* MY-SKILLS */
    
    .my-skills-list {
        gap: 4;
        padding: 0 8rem;
    }
}